<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="/pictures/favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/headpraser.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        
      </div>
     
   </body>


</html>
