<!DOCTYPE html>
<html>
    <head>
        <title>Back-end projects</title>
        <link rel="shortcut icon" type="image/x-icon" href="/pictures/favicon.ico.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    </head>

    <h1>My project</h1>
<body>

<ul>
    <li><a href="/views/exercise-tracker.html">Exercise tracker</a></li>
    <li><a href="">Filemetadata</a></li>
    <li><a href="">headpraser</a></li>
    <li><a href="">Timestamp</a></li>
    <li><a href="">url short</a></li>
</ul>
</body>
</html>